@charset "UTF-8";
body, div, p, ul, ol, li, dl, dt, dd, form, table, tr, td, th, caption, hr, h1, h2, h3, h4, h5, h6, img, input {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  font-family: "微软雅黑",Arial;
  overflow-x: hidden; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

b {
  font-weight: 100;
  color: #f16400; }

.smallbox {
  padding: 0 74px; }


//当鼠标放到a上 出现下划线  字体颜色变成#ff6a00色
.aup{
    color:#70676c;
    &:hover{
        text-decoration: underline;
         color:#ff6a00;
    }
}

//默认有边框 鼠标放上换边框颜色

.borderdom{
     border:1px solid #e6e7eb;
     &:hover{
         border:1px solid #cccccc;
     }
}
/*顶部的导航*/
.headermenu{
  width: 100%;
  height: 34px;
  background: #f2f2f2;
  border-bottom: 1px solid #e6e6e6;
  color: #747474;
  font-size: 12px;
  line-height: 34px; }

.headermenu ul {
  display: flex;
  justify-content: space-between; 
    .headerLeft{
        .guanzhu,.xiazai{
            position: relative;
            .weixin,.app{
                padding-top: 20px;
                padding-bottom: 8px;
                background: #fff;
                width: 158px;
//              height: 200px;
                border:1px solid #d9d9d9;
                border-top:none;
//              margin-top:-3px ;
                position: absolute;
                left:-2px;
                text-align: center;
                z-index: 2;
                display: none;
                img{
                    width: 122px;
                    height: 122px;
                }
                p{
                    color:#737373;
                    font-size:12px;
                    line-height: 18px;
                }
            }
        }
    } 
    .headerRight{
        position: relative;
        .myhuali:hover{
            border:1px solid #d9d9d9;
            box-sizing: border-box;
            background: #fff;
        }
        
        .fw{
            position: absolute;
            left:296px;
            top:32px;
            width: 78px;
            border:1px solid #d9d9d9;
            border-top:none;
            padding-bottom: 9px;
            z-index: 3;
            background: #fff;
            text-align: center;
            display: none;
            p{
                line-height: 24px;
                a{
                      color:#737373;
                      font-size: 12px;
                      text-align: center;
                      @extend .aup;
                  }
            }
         }
        .gouwuDiv{
            position: absolute;
            left:153px;
            top:32px;
            width: 318px;
            $height: 124px;
            text-align: center;
            border:1px solid #d9d9d9;
            background: #fff;
            display: none;
            p{
                line-height: $height;
            }
        }
    }
 }

.headermenu a {
  color: #747474;
  display: inline-block;
  padding: 0 10px;
}
.headermenu a:hover{
    color:#ff6a00;
}
.headermenu a i {
  color: #ffb986;
  font-size: 16px; }

.headermenu .icon-gouwuche {
  color: #f16400; }
.sanjiao {
  border: 6px solid transparent;
  border-top-color: #d8d8d8;
}
.headermenu .kehu,.gouwu{
    padding:0 15px 0 10px;
    position: relative;
    padding-right: 20px;
}
.kehu .sanjiao{
    position: absolute;
    top: 15px;
    left: 63px
}

.gouwu .sanjiao{
    position: absolute;
    top: 16px;
    left: 82px
}

//导航
#logo{
    width: 100%;
    height: 120px; 
    .smallbox{
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            display: flex;
            align-items: center;
            .xian{
                width: 1px;
                height: 38px;
                background-color: #d7d7d7;
                float:left;
                margin: 0 12px;
            }
            p{
                color:#797a7c;
                font-size: 24px;
                font-weight: 100;
            }
           
        }
        .search{
//          width: 320px;
            input{
                display: inline-block;
                width: 237px;
                height: 32px;
                border:1px solid #fd6a02;
                border-right: none;
                outline: none;
            }
            .sou{
                display: inline-block;
                width: 82px;
                height: 34px;
                background: #fd6a02;
                color:#fff;
                text-align: center;
                line-height: 34px;
                margin-left: -5px;
            }
        }
        .tele{
            i{
                color:#ff6a00;
                font-size:24px;
                margin-right: 6px;
                font-weight: 600;
                vertical-align: middle;
            }
            span{
                color:#7e7377;
                font-size: 12px;
                a{
                    color:#7e7377;
                }
                a:hover{
                    color:#ff6a00;
                    text-decoration: underline;
                }
            }
            em{
                font-style: normal;
                margin:0 20px;
                color:#fb6800;
            }
        }
    } 
}

//banner
#banner{
    position: relative;
    display: block;  
    width: 100%;
    height: 488px;
    background: url(../img/denglubg.jpg);
    &:after{
        content: "";
    }
    .login{
        position: absolute;
        right: 179px;
        top:40px;
        width: 380px;
        height: 298px;
        padding: 21px 20px 89px;
        background: pink;
//      opacity: .4;
        .zhuceA{
            display: inline-block;
            padding:0px 34px;
            line-height: 41px;
            text-align: center;
            color:#737373;
            font-size: 16px;
         }
        .loginA{
            @extend .zhuceA;
            border-bottom: 2px solid #ff6a00;
            color:#ff6a00;
        }
        p{
            width: 100%;
            height: 2px;
            background: #d9d9d9;
        }
        from{
            .teleLogin{
                color:#ff6a00;
                text-decoration: none;
                
            }
        }
    }
}
//  <!--不带背景的服务按钮-->
#servermenu{
    height: 76px;
    @extend .smallbox;
     ul{
        display: flex;
        justify-content: space-between;
        flex-shrink: 1;
        li{
            height: 77px;
            line-height: 77px;
//          float: left;
            a{
                color:#686868;
                font-size: 12px;
                @extend .aup;
                padding:0 30px;
            }
            span{
                display: inline-block;
                width: 3px;
                height: 12px;
                background: url(../img/footerserverline1.png) repeat-y;
                vertical-align: middle;
            }
        }
    }       
}

//备案footer
#footerBeian{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @extend .smallbox;
    padding-bottom: 20px;
    ul{
        display: flex;
        padding:30px 0px;
        li{
            align-self: center;
//          float: left;
            margin-right: 14px;
        }
    }
    p{
        color:#707070;
        font-size: 12px;
        line-height: 30px;
        a{
            color:#707070;
            @extend .aup;
        }
    }
    
}

//咨询客服
#zixunkefu{
    position: fixed;
    right: 60px;
    bottom: 1px;
    width: 126px;
    height: 39px;
    background: #ff6600;
    border:1px solid #e55c00;
    border-bottom: none;
    overflow-y: hidden;
    span:first-child{
        width: 40px;
        height: 39px;
        border-right:1px solid #e55c00;
        padding:11px;
    }
    span:last-child{
        width: 84px;
        height:39px;
        text-align: center;
        line-height: 39px;
        color:#fff; 
    }
}