@charset "UTF-8";
body, div, p, ul, ol, li, dl, dt, dd, form, table, tr, td, th, caption, hr, h1, h2, h3, h4, h5, h6, img, input {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  font-family: "微软雅黑",Arial;
  overflow-x: hidden; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

b {
  font-weight: 100;
  color: #f16400; }

.smallbox {
  padding: 0 74px; }

/*body的class名*/
.posit {
  position: relative; }

/*右边固定的个人信息*/
#infor {
  position: fixed;
  width: 33px;
  height: 100%;
  background: #595656;
  right: 0px;
  top: 0px; 
  z-index: 10;
  }

/*顶部的大图*/
header .header {
  display: block;
  width: 100%;
  height: 80px;
  background: url(../img/headerTop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 80px; }

/*顶部的导航*/
.headermenu{
  width: 100%;
  height: 34px;
  background: #f2f2f2;
  border-bottom: 1px solid #e6e6e6;
  color: #747474;
  font-size: 12px;
  line-height: 34px; }

.headermenu ul {
  display: flex;
  justify-content: space-between; 
    .headerLeft{
        .guanzhu,.xiazai{
            position: relative;
            .weixin,.app{
                padding-top: 20px;
                padding-bottom: 8px;
                background: #fff;
                width: 158px;
//              height: 200px;
                border:1px solid #d9d9d9;
                border-top:none;
//              margin-top:-3px ;
                position: absolute;
                left:-2px;
                text-align: center;
                z-index: 2;
                display: none;
                img{
                    width: 122px;
                    height: 122px;
                }
                p{
                    color:#737373;
                    font-size:12px;
                    line-height: 18px;
                }
            }
        }
    } 
    .headerRight{
        position: relative;
        .myhuali:hover{
            border:1px solid #d9d9d9;
            box-sizing: border-box;
            background: #fff;
        }
        
        .fw{
            position: absolute;
            left:296px;
            top:32px;
            width: 78px;
            border:1px solid #d9d9d9;
            border-top:none;
            padding-bottom: 9px;
            z-index: 3;
            background: #fff;
            text-align: center;
            display: none;
            p{
                line-height: 24px;
                a{
                      color:#737373;
                      font-size: 12px;
                      text-align: center;
                      @extend .aup;
                  }
            }
         }
        .gouwuDiv{
            position: absolute;
            left:153px;
            top:32px;
            width: 318px;
            $height: 124px;
            text-align: center;
            border:1px solid #d9d9d9;
            background: #fff;
            display: none;
            p{
                line-height: $height;
            }
        }
    }
 }

.headermenu a {
  color: #747474;
  display: inline-block;
  padding: 0 10px;
}
.headermenu a:hover{
    color:#ff6a00;
}
.headermenu a i {
  color: #ffb986;
  font-size: 16px; }

.headermenu .icon-gouwuche {
  color: #f16400; }
.sanjiao {
  border: 6px solid transparent;
  border-top-color: #d8d8d8;
}
.headermenu .kehu,.gouwu{
    padding:0 15px 0 10px;
    position: relative;
    padding-right: 20px;
}
.kehu .sanjiao{
    position: absolute;
    top: 15px;
    left: 63px
}

.gouwu .sanjiao{
    position: absolute;
    top: 16px;
    left: 82px
}

//导航
#logo{
    width: 100%;
    height: 120px; 
    .smallbox{
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            display: flex;
            align-items: center;
            .xian{
                width: 1px;
                height: 38px;
                background-color: #d7d7d7;
                float:left;
                margin: 0 12px;
            }
            p{
                color:#797a7c;
                font-size: 14px;
                float:left;
                i{
                  font-size: 12px;
                }
            }
           
        }
        .search{
//          width: 320px;
            input{
                display: inline-block;
                width: 237px;
                height: 32px;
                border:1px solid #fd6a02;
                border-right: none;
                outline: none;
            }
            .sou{
                display: inline-block;
                width: 82px;
                height: 34px;
                background: #fd6a02;
                color:#fff;
                text-align: center;
                line-height: 34px;
                margin-left: -5px;
            }
            .info{
                margin-top:8px;
                font-size:12px;
                color:#919191;
                a{
                    padding:0 6px;
                    color:#919191;
                }
                a:hover{
                    color:#ff6a00;
                    text-decoration: underline;
                }
            }
        }
        .tele{
            i{
                color:#ff6a00;
                font-size:24px;
                margin-right: 6px;
                font-weight: 600;
                vertical-align: middle;
            }
            span{
                color:#7e7377;
                font-size: 12px;
                a{
                    color:#7e7377;
                }
                a:hover{
                    color:#ff6a00;
                    text-decoration: underline;
                }
            }
            em{
                font-style: normal;
                margin:0 20px;
                color:#fb6800;
            }
        }
    } 
}
//导航栏
#menu{
    width: 100%;
    height: 40px;
    border-bottom: 3px solid #fe6a00;
    position: relative;
    .nav{
        position: absolute;
      .allgoods{
          position: relative;
          display: inline-block;
          width: 215px;
          height: 40px;
          line-height: 40px;
          background: #fe6a00;
          color:#fff;
          padding-left:15px;
      }
      .goods{
          position: absolute;
          left:0;
          top:43px;
          width: 230px;
          height: 437px;
          background: #fff;
          border-bottom: 3px solid #fb6900;
          z-index: 1;
          box-shadow: 0 3px 5px #d7d7d9;
          li{
              padding:0 16px;
          }
          h4{
              color:#ff6500;
              font-size: 14px;
              line-height: 37px;
          }
          .menuall{
               display: flex;
               justify-content: space-between;
           }
          a{
            display: inline-block;
            margin-right: 10px;
            line-height: 21px;
            color:#777777;
            font-size: 12px;
          }
          a:hover{
             color:#ff6a00;
             text-decoration: underline;
          }
         .line{
             width: 100%;
             height: 1px;
             background: #e9e9e9;
             margin-top:10px;
         }
         .ysflower{
             height: 210px;
             width: 730px;
             box-shadow: -4px -4px 5px #bbbbbb;
         }
      }
    }
// 导航
    .flower{
        padding:0 25px;
        color:#425252;
        font-size: 14px;
        font-weight: 900;
    }
    .flower:hover{
        color:#ff6a00;
    }
}
//banner轮播图栏
#banner{
    position: relative;
    .rightbox{
        position: absolute;
        right: 73px;
        top:10px;
        a{
            position: relative;
            display: block;
            width: 210px;
            height: 140px;
            border-bottom: 1px solid #e2e2e2;
        }
        img{
            position: absolute;
            left: 0px;
            top:0px;
            z-index: 2;
            display: block;
        }
    }
}
//服务
#server{
    width: 100%;
    .smallbox{
       height: 120px;
       display: flex;
       justify-content: space-between;
       align-items: center;
         a{
       display: flex;
       h4{
           color:#49494b;
           font-size: 16px;
           margin-left:14px;
           font-weight: 100;
           p{
              color:#969696;
              font-size: 12px;
           }
       }
     }
  }
}
//默认有边框 鼠标放上换边框颜色

.borderdom{
     border:1px solid #e6e7eb;
     &:hover{
         border:1px solid #cccccc;
     }
}

//限时推荐
#xianshi{
    height: 200px;
    width: 100%;
    @extend .smallbox;
    .title{
        width: 232px;
        height: 200px;
        background: #aacc03;
        float:left;
        img{
            display: block;
            padding-top:40px;
            margin:0 auto 32px;
        }
        h3{
            color:#fff;
            font-size:22px;
            text-align: center;
        }
    }
    .cen{
        float:left;
        img{
            float:left;
            width: 236px;
            height:196px;
            @extend .borderdom;         
        }
    }
  .xiantime{
        width: 249px;
        height: 200px;
        margin-left:1px;
        float: left;
        overflow: hidden;
        }
}
//当鼠标放到a上 出现下划线  字体颜色变成#ff6a00色
.aup{
    color:#70676c;
    &:hover{
        text-decoration: underline;
         color:#ff6a00;
    }
}
//爱情鲜花 love
#centerinfo{
    @extend .smallbox;
    //标题639+78
    .module{
        margin-top: 24px;
        height: 717px;
        .tit{
            display: flex;
            justify-content: space-between;
            line-height: 54px;
            color:#70676c;
            font-size: 12px;
            .Left{
                display: flex;
                b{
                    font-size: 20px;
                }
                p{
                    margin-left: 20px;
                    font-size: 12px;
                }
            }
        }
    //  内容
        .cenimg{
            .photo{
                width: 243px;
                height: 639px;
                background: #ffbebe;
                float:left;
                
                .girla{
                    display: block;
                    width: 190px;
                    height: 48px;
                    border:2px solid #fff;
                    line-height: 48px;
                    text-align: center;
                    color:#fffcff;
                    margin:70px auto 0;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .family{
                background-color:#c2acd2;
            }
            .immortal{
                background-color: #d6d9ec;
            }
            .gift{
                width: 241px;
                height: 637px;
                background: #fff;
                border:1px solid #dcdcdc;
                position: relative;
                img{
                    width: 240px;
                    height: 318px;
                   
                }
                .gifta{
                    display: inline-block;
                    width: 225px;
                    height: 64px;
                    line-height: 64px;
                    text-align: center;
                    color:#fff;
                    &:hover{
                        text-decoration: underline;
                    }
                    background-color: #ffcd8d;
                    opacity: .8;
                    position: absolute;
                    position: absolute;
                    left: 8px;
                    bottom: 328px;
                    z-index: 1;
                }
                li{
                    font-size: 12px;
                    padding-bottom: 13px;
                    padding:13px 13px 0;
                    h4{
                        color:#ff7600;
                        line-height: 42px;
                    }
                    a{
                        padding:0 7px 12px 0;
                        color:#6e6e6e;
                        @extend .aup;
                        line-height: 24px;
                    }
                    p{
                        margin-top:20px;
                        width: 100%;
                        height: 1px;
                        background: #d9d9d9;
                    }
                }
            }
            .hua{
                width:957px;
                height: 639px;
                float:left;
                a{
                    display: inline-block;
                    width: 237px;
                    height: 308px;
                    @extend .borderdom;
                    padding-top: 10px;
                    color:#70676c;
                    font-size:12px;
                    text-align:center;
                    float:left;
                    &:hover{
                        color:#ff6a00;
                    }
                    img{
                        width: 220px;
                        height: 240px;
                        margin-bottom: 20px;
                    }
                   p{
                       margin-bottom: 8px;
                   }
                }
                
            }
        }
    }
}

//下边的评论
#panel{
    @extend .smallbox;
//  width: 100%;
//  height:292px;
    display: flex;
    justify-content: space-between;
    //标题
    .panelTitle{
//      width: 100%;
        height: 32px;
        background: #898989;
        display: flex;
        justify-content: space-between;
        padding:0 10px 0 14px;
        align-items: center;
        h4{
            color:#fff;
            font-size: 12px;
        }
    }
    //内容
    .con{
//      width: 100%;
//      height: 260px;
        padding:15px 10px 0 7px;
        background: #f2f2f2;
        li{
            line-height: 35px;
           img{
                margin-right: 8px;
            }
            a{
                color:#6f6f6f;
                font-size: 12px;
                &:hover{
                    color:#ff6a00;
                }
            }
//               @extend .aup;
            }
    }
    //感动瞬间
    .gandong{
        width: 240px;
        height: 292px;
        .con{
            padding-bottom:24px;
        }
    }
    //最新评价
    .comments{
        width: 470px;
        height: 292px;
        .con{
            li{
                border-bottom: 1px solid #e5e5e5;
                padding:8px 0;
                font-size:12px; 
//              display: flex;
//              align-items: center;
                .lis{
                    display: flex;
                    justify-content: space-between;
                    color:#6f6f6f;
                    a:first-child{
                        display: flex;
                        flex-direction: column;
                        img{
                            padding:4px;
                            background: #fff;
                            width: 29px;
                            height: 30px;
                            border:1px solid #e5e5e5;
                            border-radius: 6px;
                        }
                        em{
                            font-style: normal;
                            line-height: 20px;
                        }
                    }
                    h4{
                        padding-left:26px;
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        p{
                            display: flex;
                        }
                        span{
                            width: 60px;
                            height: 12px;
                            background: url(../img/star.png) repeat-x;
                            background-size:12px;
                            margin-top: 12px;
                            margin-left:5px;
                        }
                        
                        a{
                            line-height: 20px;
                            font-weight: 100;
                        }
                    }
                } 
                
            }
        }
    }
    //热门资讯
    .news{
        width: 460px;
        height: 292px;
        .con{
             padding-bottom: 24px;
             display: flex;
             ul{
                 border-right: 1px solid #e3e3e3;
                 margin-right: 10px;
                 padding-right:4px;
             }
             ul:last-child{
                 border:none;
                 margin:none;
             }
        }
    }
}

//手机APP下载
#app{
    @extend .smallbox;
     margin-top: 15px;
     width: 100%;
    .smallbox{
        height: 170px;
        width: 1198px;
        border:1px solid #e6e6e6;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding:0;
    
    .erweima{
        width: 122px;
        height: 122px;
    }
    .download{
         display: flex;
        .appp{
             font-size: 12px;
             margin-left: 20px;
//           display: flex;
//           flex-direction: column;
             h4{
                color:#ff6600;
                line-height: 12px;
                span{
                    display: block;
                     color:#6a6a6a; 
                     margin: 14px 0 17px 0;
                 }
             }
             
             a{
                 img{
                     width: 50px;
                     height: 50px;
                 }
             }
         }
    }
  }
}
//页脚服务按钮
#footerServer{
    @extend .smallbox;
    margin-top:15px;
    ul:first-child{
        padding-left: 10px;
        background: #ff6600;
        height: 84px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
            line-height: 84px;
            height: 84px;
            float:left;
            
            a{
                padding: 0 26px 0 14px;
                img{
                    vertical-align: middle;
                }
                p{
                    display: inline-block;
                    font-size: 14px;
                    color:#fff;
                }
            }
            span{
                display: inline-block;
                width: 2px;
                height: 40px;
                background: url(../img/footerserverline.png) repeat-y;
                vertical-align: middle;
            }
        }
  }  
//不带背景的服务按钮
    ul:last-child{
        display: flex;
        justify-content: space-between;
        flex-shrink: 1;
        li{
            height: 77px;
            line-height: 77px;
//          float: left;
            a{
                color:#686868;
                font-size: 12px;
                @extend .aup;
                padding:0 30px;
            }
            span{
                display: inline-block;
                width: 3px;
                height: 12px;
                background: url(../img/footerserverline1.png) repeat-y;
                vertical-align: middle;
            }
        }
    }
}
//帮助部分
#footerHelp{
    background: #f2f2f2;
    border:1px solid #dcdcdc;
    @extend .smallbox;
    .smallbox{
        display: flex;
        justify-content: space-between;
        padding:0px;
        .help{
            width: 299px;
            font-size: 12px;
            padding:30px 0px 30px 45px;
            ul{
                border-right: 1px solid #d9d9d9;
                h4{
                    color:#070400;
                    margin-bottom:23px;
                    a{
                        color:#000;
                        @extend .aup;
                    }
                }
                li{
                    display: inline-block;
                    line-height: 24px;
                    padding-right: 36px;
                    a{
                        color:#727272;
                        @extend .aup;
                    }
                }
            }
        }
        .help:nth-of-type(1){
            padding-left:0;
            ul{
                padding-right:80px;
            }
        }
         .help:nth-of-type(3){
            ul{
                padding-right:80px;
                li{
                    line-height: 20px;
                }
            }
        }
        .help:last-of-type{
            ul{
                border:none;
                li{
                    display: block;
                }
              }
        }
    }
}

//备案footer
#footerBeian{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @extend .smallbox;
    padding-bottom: 20px;
    ul{
        display: flex;
        padding:30px 0px;
        li{
            align-self: center;
//          float: left;
            margin-right: 14px;
        }
    }
    p{
        color:#707070;
        font-size: 12px;
        line-height: 30px;
        a{
            color:#707070;
            @extend .aup;
        }
    }
    
}
//友情链接
#footerYouLian{
    margin-bottom: 10px;
    @extend .smallbox;
    .footerYouLian{
//       display: flex;
         height: 67px;
         line-height: 67px;
         border-top: 1px solid #d8d8d8;
         border-bottom: 1px solid #d8d8d8;
        h4{
            display: inline-block;
            color:#72716c;
            font-size:12px;
            margin-right: 10px;
        }
        a{
            color:#737373;
            font-size:12px;
            padding: 0 2px;
            @extend .aup;
        }
    }
}
